{{#if module.hasHotkeys}}
  <div class="hotkeyBlock">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Funksjon</th>
          <th scope="col" class="thcenter">Hurtigtast(er)</th>
        </tr>
      </thead>
      <tbody>
        {{#each module.visibleHotkeys as |hotkey|}}
          <tr>
            <td class="configLabel">
              {{#if hotkey.isDirty}}
                &#8432;
              {{/if}}
              {{hotkey.displayName}}
              <div class="hotkeyActions">
                {{#bs-button
                  size="sm"
                  type="outline-success"
                  onClick=(action "addKeyCombo" hotkey)
                }}
                  {{fa-icon "plus"}}
                {{/bs-button}}
                {{#if (eq hotkey selectedHotkey)}}
                  {{#bs-button size="sm" type="outline-danger" onClick=(action "deleteKeyCombo")}}
                    {{fa-icon "trash"}}
                  {{/bs-button}}
                  {{#bs-button
                    size="sm"
                    type="outline-secondary"
                    onClick=(action "editKeyCombo")
                  }}
                    {{fa-icon "pencil"}}
                  {{/bs-button}}
                {{/if}}
              </div>
            </td>
            <td class="configValue" align="center">
              {{#if hotkey.hasKeyCombos}}
                <ul class="hotkeylist">
                  {{#each hotkey.hotkeys as |keycombo|}}
                    {{module-setting-keycombo
                      keycombo=keycombo
                      selected=(eq keycombo selectedKeyCombo)
                      click=(action "selectKeyCombo" keycombo)
                    }}
                  {{/each}}
                </ul>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{modal-edithotkey
    editHotkeyOpen=modalOpen
    keyCombo=selectedKeyCombo
    hotKey=selectedHotkey
    mode=modalMode
    addNewAction=(action "storeNewKeyCombo")
  }}
{{/if}}
