{{#bs-modal
  open=changeReviewOpen
  onHidden=(action "performCloseReview")
  closeTitle="Lukk"
as |modal|
}}
  {{#modal.header}}
    <h4 class="modal-title">{{fa-icon "eye"}} Oversikt over endringer</h4>
  {{/modal.header}}

  {{#modal.body}}
    <p>Du har gjort endringer på følgende moduler som ikke er lagret:</p>
    <ul>
      {{#each configService.dirtyModules as |module|}}
        <li><b>{{module.displayName}}</b></li>
        <ul>
          {{#if module.enabledChanged}}
            <li>Modulen er skrudd {{if module.moduleEnabled "på" "av"}}</li>
          {{/if}}
          {{#each module.changedSettings as |setting|}}
            {{#if (eq setting.type "ST_COLOR")}}
              <li class="flex-inline">{{setting.label}}: {{color-splotch color=setting.originalValue}} &#10142; {{color-splotch color=setting.value}}</li>
            {{/if}}
            {{#if (eq setting.type "ST_TEXT")}}
              <li>Text: {{setting.setting}}</li>
            {{/if}}
            {{#if (eq setting.type "ST_BOOL")}}
              <li><b>{{setting.label}}</b>: {{if setting.value "På" "Av"}}.</li>
            {{/if}}
          {{/each}}
          {{#each module.changedHotkeys as |hotkey|}}
            <li>
              {{hotkey.displayName}}
              <ul>
                {{#each hotkey.addedKeyCombos as |keycombo|}}
                  <li>{{fa-icon "plus-circle" class="green"}} {{keycombo.displayName}}</li>
                {{/each}}
                {{#each hotkey.removedKeyCombos as |keycombo|}}
                  <li>{{fa-icon "minus-circle" class="red"}} {{keycombo.displayName}}</li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      {{/each}}
    </ul>
  {{/modal.body}}

  {{#modal.footer}}
    {{#bs-button onClick=(action "performCloseReview") type="success"}}Lukk{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}