<div class="container-fluid">
  <div class="row">
    <div class="col-md-auto d-flex align-items-end">
      {{x-toggle
        value=module.moduleEnabled
        onToggle=(action (mut module.moduleEnabled))
        theme="light"
        size="small"
      }}
    </div>
    <div class="col">
      <span class="h3">
        {{module.displayName}}
      </span>
    </div>
  </div>

  <hr>
  <p id="module-description">{{module.moduleDescription}}</p>
  <hr>

  <div class="settingsBlock">
    {{#if module.hasSettings}}
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Innstilling</th>
            <th scope="col">Verdi</th>
          </tr>
        </thead>
        <tbody>
          {{#each module.visibleSettings as |setting|}}
            <tr>
              <td class="configLabel">
                {{setting.displayName}}
              </td>
              <td class="configValue" align="center">
                {{module-setting setting=setting}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>
        Denne modulen har ingen innstillinger. Alt du kan gjøre er å skru den av og på.
      </p>
    {{/if}}
  </div>

  <div class="hotkeyBlock">
    {{#if module.hasHotkeys}}
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Funksjon</th>
            <th scope="col">Hurtigtast(er)</th>
          </tr>
        </thead>
        <tbody>
          {{#each module.visibleHotkeys as |hotkey|}}
            <tr>
              <td class="configLabel">
                {{hotkey.displayName}}
              </td>
              <td class="configValue" align="center">
                <ul class="hotkeylist">
                  {{#each hotkey.hotkeys as |keycombo|}}
                    <li>{{module-setting-hotkey keycombo=keycombo}}</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>Her er det ingen hotkeys!</p>
    {{/if}}
  </div>
</div>