<ul class="list-group">
  <div class="card-header">
    {{fa-icon "cogs"}} <b>Moduler</b>
  </div>
  {{#each sortedModules as |mod|}}
    {{#link-to
      "index.module"
      mod.moduleName
      class="list-group-item list-group-item-action"
    }}
      {{#if mod.moduleEnabled}}
        {{fa-icon "circle"}}
      {{else}}
        {{fa-icon "circle-o"}}
      {{/if}}
      {{mod.displayName}}
      {{#if mod.isDirty}}
       &nbsp;&#8432;
      {{/if}}
    {{/link-to}}
  {{/each}}
  {{#if hasSettinglessModules}}
    {{#link-to
      "index.other"
      class="list-group-item list-group-item-action"
    }}
      {{fa-icon "gift"}}
      Andre moduler
    {{/link-to}}
  {{/if}}
</ul>
