<div class="fixed-top config-top">
  {{config-header}}
</div>

<div class="container-fluid config">
  {{outlet}}
</div>

<div class="fixed-bottom config-bottom">
  {{config-footer}}
</div>

{{modal-closewithoutsave}}
{{modal-display-change-review}}
