<div class="pageLayout">
  <div class="config-header">
    {{config-header}}
  </div>

  <div class="config-modulelist">
  {{module-selector}}
  </div>

  <div class="config-main">
    {{outlet}}
  </div>

  <div class="config-footer">
    {{config-footer}}
  </div>
</div>

{{modal-closewithoutsave}}
{{modal-display-change-review}}
